{{#*inline "page"}}
<h1>まみむめも♪</h1>
<p>まいまいです。</p>
<p>かぶりです。</p>
<p>{{foo}}</p>

<h1>regions</h1>
<table border="1">
  <tr><th>id</th><th>名</th></tr>
  {{#each regions}}
  <tr>
    <td>{{id}}</td>
    <td>{{name}}</td>
  </tr>
  {{/each}}
</table>
{{/inline}}
{{~> layout ~}}
