{{#*inline "page"}}
<div class="row">
  <p>
    <a href="https://accounts.google.com/o/oauth2/auth?response_type=code&client_id={{client_id}}&redirect_uri={{redirect_uri}}&scope=https://www.googleapis.com/auth/userinfo.email">ログイン</a>
  </p>
</div>
{{/inline}}
{{~> layout ~}}
