{{#partial page}}
<div class="row">
  {{#each summaries~}}
  <div class="span3">
    <h1>{{name}}</h1>
    <h2>この7間日</h2>
    <p class="value">
      280<span class="last-value plus">(244 114.8%)</span>
    </p>
    <h2>この30間日</h2>
    <p class="value">
      1,058<span class="last-value minus">(1,513 69.9%)</span>
    </p>
    <h2>トータル</h2>
    <p class="value">{{all}}</p>
  </div>
  {{/each~}}
</div>
{{/partial}}
{{~> layout ~}}
